In [1]:
import pandas as pd
import numpy as np

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

In [78]:
df = pd.read_csv('air_train.csv')
df = df.drop(['Unnamed: 0','id'], axis = 1)

In [40]:
df.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [75]:
df.info()
# Gender, Customer Type, Type of Travel, Class, satisfaction

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             103904 non-null  int64
 1   Customer Type                      103904 non-null  int64
 2   Age                                103904 non-null  int64
 3   Type of Travel                     103904 non-null  int64
 4   Class                              103904 non-null  int64
 5   Flight Distance                    103904 non-null  int64
 6   Inflight wifi service              103904 non-null  int64
 7   Departure/Arrival time convenient  103904 non-null  int64
 8   Ease of Online booking             103904 non-null  int64
 9   Gate location                      103904 non-null  int64
 10  Food and drink                     103904 non-null  int64
 11  Online boarding                    103904 non-null  int64
 12  Seat comfort                       103904 non-null  int64
 13  Inflight entertainment             103904 non-null  int64
 14  On-board service                   103904 non-null  int64
 15  Leg room service                   103904 non-null  int64
 16  Baggage handling                   103904 non-null  int64
 17  Checkin service                    103904 non-null  int64
 18  Inflight service                   103904 non-null  int64
 19  Cleanliness                        103904 non-null  int64
 20  Departure Delay in Minutes         103904 non-null  int64
 21  Arrival Delay in Minutes           103904 non-null  float64
 22  satisfaction                       103904 non-null  int64
dtypes: float64(1), int64(22)
memory usage: 18.2 MB

In [22]:
class Imp_0 (BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin = False):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        X.fillna(0, inplace = True)
        
        if self.remove_origin:
            pass
            # Remove original fields
        
        return X

In [34]:
Im0 = Imp_0()

In [35]:
df = Im0.transform(df)

In [33]:
df1.shape

(103904, 23)

In [38]:
from sklearn.impute import SimpleImputer

In [21]:
pd.crosstab(df['Arrival Delay in Minutes'],df['satisfaction'])

satisfaction              neutral or dissatisfied  satisfied
Arrival Delay in Minutes
0.0                                         30662      27497
1.0                                          1160       1051
2.0                                          1092        972
3.0                                           993        959
4.0                                           983        924
...                                           ...        ...
952.0                                           1          0
970.0                                           1          0
1011.0                                          0          1
1280.0                                          0          1
1584.0                                          1          0

[455 rows x 2 columns]

In [61]:
# Вика
class T_O_T (BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin = False):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        X['Type of Travel'] = X['Type of Travel'].map({'Business travel':0, 'Personal Travel':1})
        
        if self.remove_origin:
            pass
            #X.drop(['Type of Travel'], axis = 1, inplace = True)
            # Remove original fields
        
        return X

In [62]:
# Алексей
class Imp_class (BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin = False):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        X['Class'] = X['Class'].map({'Eco': 0, 'Eco Plus': 1, 'Business': 2})
        
        if self.remove_origin:
            pass
            # Remove original fields
        
        return X

In [63]:
# Арина
class C_T(BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin = False):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        X['Customer Type'] = X['Customer Type'].map({'Loyal Customer': 1, 'disloyal Customer': 0})
        
        if self.remove_origin:
            # Remove original fields
            pass
        
        return X

In [64]:
# Настя
class Gnd (BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin = False):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        X['Gender'] = X['Gender'].map({'Female': 0, 'Male':1}) # inplace = True - чтобы изменения сразу сохранялись без присваивания
        
        if self.remove_origin:
            pass
            # Remove original fields
        
        return X

In [65]:
# Елена
class stat (BaseEstimator, TransformerMixin): 
     
    def __init__(self, remove_origin = False): 
        self.remove_origin = remove_origin 
     
    def fit(self, X, y = None): 
        return self 
     
    def transform(self, X, y = None): 
        # Transformation 
        X['satisfaction'] = X['satisfaction'].map({'neutral or dissatisfied': 0, 'satisfied': 1}) 
         
        if self.remove_origin: 
            pass 
         
        return X

In [66]:
from sklearn.pipeline import Pipeline

In [73]:
myPipe = Pipeline ([('Imp_0',Imp_0()),
                    ('T_O_T',T_O_T()), 
                    ('Imp_class',Imp_class()), 
                    ('C_T',C_T()),
                    ('Gnd',Gnd()),
                    ('stat',stat())])

In [74]:
myPipe.transform(df)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,13,1,1,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,0,25,0,2,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,0,1,26,0,2,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,1,25,0,2,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,1,61,0,2,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,23,0,0,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,0
103900,1,1,49,0,2,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,1
103901,1,0,30,0,2,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,0
103902,0,0,22,0,0,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,0
103903,1,1,27,0,2,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,0

In [76]:
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,13,1,1,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,0,25,0,2,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,0,1,26,0,2,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,1,25,0,2,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,1,61,0,2,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,23,0,0,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,0
103900,1,1,49,0,2,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,1
103901,1,0,30,0,2,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,0
103902,0,0,22,0,0,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,0
103903,1,1,27,0,2,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,0